creer cette feature dans mon application:

apres avoir l utilisateur signup with google dans la platform le system verifie si il a completé son profil
- si le profil est complet, il peut acceder a la page mes demandes
- sinon il est redirigé vers la page /onboarding pour compléter son profil

ou cas ou l'utilisateur a complété son profile et il a accedé a la page onboarding redirigé le vers la page acceuil.

respoecter le model user si dessous:
model User {
  id                String          @id @default(cuid())
  name              String?
  email             String          @unique
  image             String?
  phonenumber       String?
  dob               DateTime?
  gender            String?
  city              String?
  occupation        Occupation? 
  bio               String?  @db.Text
  idCard            IdCard?
  passport          Passport?

  isProfileComplete Boolean @default(false)

  // occupation
  university       String?
  yearStady        String?
  company          String?
  jobTitle         String?

  // Profile verification
  emailVerified     Boolean?  @default(false)
  phoneVerified     Boolean?  @default(false)
  identityVerified    Boolean?  @default(false)


  // Preferences
  genderPreference  String?   // male, female, any
  maxBudget         Int?
  minBudget         Int?
  smokingAllowed    Boolean   @default(false)
  petsAllowed       Boolean   @default(false)
  visitorsAllowed   Boolean   @default(true)
  partyAllowed      Boolean   @default(false)

  accounts          Account[]
  offers            Offer[]
  favorites         Favorite[]
  applications      Application[]
  reviewsGiven      Review[]      @relation("ReviewAuthor")
  reviewsReceived   Review[]      @relation("ReviewTarget")
 
  createdAt DateTime @default(now())
  updatedAt DateTime @updatedAt
}

1ere étape: information de l'utilisateur
-nom complet
-email (le meme email que celui utilisé pour le signup disable le champ email)
-phonenumber
-date de naissance
-genre
-ville
-occupation
2eme étape: Preferences
-preferences de genre (homme, femme, les deux)
-max budget
-min budget
-fumeur autorisé
-animaux autorisés
-visiteurs autorisés
-fête autorisée
3eme étape: vérification du profile
- vérification de l'email (verifier par defaut car il est utilisé pour le signup)
- vérification du téléphone
- vérification de l'identité (carte d'identité ou bien passeport **imageupload**) utiliser le model IdCard et Passport pour enregistrer les informations
